@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');
@import "tiendastyle";
@import "headstyle";

@mixin bottonstyle {
    display: inline-block;
    background: $colorprimmary;
    color: $colorfooter;
    text-decoration: none;
    padding: $padding;
    border-radius: 40px;
    margin: 50px;
}
//variables
$colorletra: #a87b05;
$colorfooter: #fff;
$colorprimmary: #a87b05;
$padding: 20px 40px;

.body{
    font-family: 'Raleway', sans-serif;
}
.container{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 80px 0;
    max-width: 1200px;

}

.subtitle{
    color: $colorprimmary;
    font-size: 2.5rem;
    margin-bottom: 35px;

}
.title{
    color: $colorprimmary;
    font-size: 3.5rem;
    margin-bottom: 20px;

}
.head2{
    display:flex;
    justify-content: flex-end;
    height: 70px;
    align-items: center;
    font-weight: 700;
    
    container{
        padding: 1px;
    }
    
}


.nav{
    display:flex;
    justify-content: flex-end;
    height: 70px;
    align-items: center;
    font-weight: 700;

    .nav--footer{
        font-weight: 300;
        justify-content: flex-start;
    }
    .navItems{
        color: $colorletra;
        text-decoration: none;
        margin-right: 20px;
        padding: 10px 15px;
        font-weight: inherit;
        
    }
    .navItemsf{
        color: $colorfooter;
        text-decoration: none;
        margin: 0 auto;
        padding: 10px 15px;
        font-weight: inherit;
        font-size: 20px;
        
    }
    
  
    
    
    .nav__item__contac{
        border : 1px solid var($colorprimmary);
    }
    .navItems--footer{
        padding: 10px ;
    
    }
}
.Quienessomos {
    padding-top: 0;
    text-align: center;

    .Quienessomosbotton {
        padding-top: 0;
        text-align: center;
        margin-bottom: 50px;
    }
 
    .Quienessomos__picture{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-bottom: 10px;
        object-fit: cover;
        object-position: top;
    
    }
    .Quienessomos__copy{
    width: 80%;
    margin: o auto;
}
.quienessomos__contac{
   
    @include bottonstyle();
 

}
 
}


.information{
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 80px;
    justify-items: center;
    align-items: center;

    .information__img{
        text-align: center;
    
    }
    .information__img--left{
        text-align: left;
        text-align: center;
    
    } 
    .informacion__pct{
         max-width: 80%;
    }
    .information__parag{
        margin-bottom: 20px;
        line-height: 1.5;
        font-weight: 300  ;
    }
}


.footer{
    background: $colorprimmary;

 
    .footer__grid{
        display: grid;
        grid-template-columns: 3fr 2fr;
        gap: 20px;
        align-items: center;
        
    }
    .footer__title{
        font-weight: 400;
        color: $colorfooter;
        font-size: 2rem;
        margin-bottom: 30px;
        text-align: center;
    }
    .footer___icons{
        display: flex;
        justify-content: space-evenly;
       
    }
    .footer__container-icons{
        display: inline-block;
        width: 60px;
        height: 60px;
        color: $colorfooter;
        text-align: center;
        border: 1px solid #fff;
        border-radius: 50%;
        
    }
    .footer__icon{
        color: inherit;
        font-size: 45px;
        text-decoration: none;
        
        
        
    }
    .fa-brands.footer__icon{
        line-height: 60px;
        
    }
}



//*responsive*/

 @media screen and (max-width: 800px) {
     :root{
         --botton-padding:18px 40px;
     }
     .nav{
         justify-content: space-around;
         font-size: 0.5rem;
     }
     .nav__item__contac{
         border: none;
     }
     .navItems{
         font-weight: 400;
         border-bottom: 1px solid $colorletra;
         margin-right: 0px;

     }
    
    .navItemsf{
        font-weight: 400;
        border-bottom: 1px solid $colorfooter;
    
    }

     .navItems--footer{
         border: none;
     }
     .head__texts{
         width: 100%;
         margin-bottom: 80px;
     }
     .head__title{
         font-size: 2.5rem;
     }
     .head__subtitle{
         font-size: 1.5rem;
     }
     /*abou*/
     .Quienessomos__copy{
         width: 100%;
     }
     .information{
         grid-template-columns: 1fr;
     }
     .information.container{
         padding-top: 25px;
     }
     .information__img--left{
         text-align: center;
     }
     .information_text:last-child{
         grid-row: 3/5;
     }
     /*tienda*/
     .tienda_grid{
         grid-template-areas:
         "img1 img2"
         "img3 img4"
         "img5 img6";
         height: 600px;
     }
     /* footer*/
     .footer__grid{
         grid-template-columns: none;

     }
     .footer_cnt{
        grid-row: 1/2 ;
     }
     
   
 }